<!-- <h1>Abhishekh</h1>
<h1>{{count}}</h1>
<p>{{username.toUpperCase()}}</p>
<p>{{isAdmin ? "Welcome Admin" : "Welcome User"}}</p>


<p>{{10+4}}</p>

<p>{{count}},{{price}},{{isLogin}}</p>
<p>{{getUser()}}</p>

<app-login></app-login>

<h1>Test</h1>
<app-events></app-events>




<h2>{{name}}</h2>

<button (click)="handleClick()">Click please</button>

<input (input)="onTyping($event)" placeholder="Type something"/>

<input (keyup)="onKeyUp($event)"  (blur)="onBlur()" (focus)="onFocus()" placeholder="press any key"/>

<div (mouseover)="onHover()" (mouseleave)="onLeave()" class="hover-box" >Hover Text</div>
 -->

<!-- <h1>Simple Counter</h1>
<p class="count">{{counter}}</p>

<div class="btns">
<button (click)="handleAdd()">+</button>
<button (click)="handleMinus()">-</button>
<button (click)="handleReset()"class="reset">Reset</button>
</div> -->

<!-- 
<p>Your Name: {{name}}</p>
<input (input)="updateName($event.target.value)" placeholder="Enter Name">


<p>Your City: {{city}}</p>
<input (input)="city=$event.target.value" placeholder="Enter the  city">

<p>Your Email: {{email}}</p>
<input #userInput placeholder="Enter Email">
<button (click)="getEmail(userInput.value)">Get Email</button> -->

<!-- <div class="hero-box">
  Welcome Abhi
</div> -->


<!-- <style>
  .text{
    color: blue;
    font-size: 22px;
    text-align: center;
  }
</style>
<div class="text">
  Welcome Abhi !
</div> -->


<!-- @if (isLoggedIn){
  <h1>Welcome Mohit</h1>

} @else{
  <h2>Please Login</h2>
} -->


<!-- @if(marks >= 50){
  <p>Pass</p>
}@else{
  <p>Fail</p>
} -->

 
<!-- <button (click)="toggleBox()">Toggle</button>

@if(showBox){
  <div class="box">This is a Box</div>
} -->


<!-- <input (input)="updateAge($event.target.value)" placeholder="Enter your age" /> -->

<!-- @if(age > 30){
  <p>Adult</p>
}
@else {
  <p>Minor</p>
} -->


<!-- @if(status ==="pending"){
  <h3>Your Order is being Processed</h3>

}
@else if(status === "processing"){
  <h2>Your Order has been Completed</h2>
}
@else if(status ==="Failed"){
  <h1>There was an issue with your order</h1>
}
@else{
  <h3>Unknown status</h3>
} -->

<!-- <input (input)="updateAge($event.target.value)" placeholder="Enter the Age">

@if(age >=60){
  <p>Senior Citizens</p>
}
@else if(age >= 18){
  <p>Adult</p>
}
@else if(age >=13){
  <p>Teenager</p>
}
@else{
  <p>Invalid Age</p>
} -->


<!-- <button (click)="section='home'">Home</button>

<button (click)="section='profile'">profile</button>

<button (click)="section='setting'">setting</button>

@if(section === 'home'){
  <h2> Welcome to the home </h2>
}
@else if(section === 'profile'){
  <h2> your Profile Information </h2>
}
@else if(section ==='setting'){
  <h2>Adjust your setting</h2>
}
@else{
  <h2> section not found</h2>
} -->

<!-- @switch(value){
  @case ('home'){
    <p>Home Page</p>
  }
  @case('about'){
    <p>About Page</p>
  }
  @case('contact'){
    <p>Contact Page</p>
  }
  @default{
    <p>Page Not found</p>
  }
} -->

<!-- 
@for(item of items; track $index) {
  <p>{{item}}</p>
} -->

<!-- @for(item of items; track $index){
  <p>{{$index+1}},{{item}}</p>
} -->


<!-- @for(u of users; track u .name){
  <div>
    <h4>
      {{u.name}}
    </h4>
    <p>Age:{{u.age}}</p>
  </div>
} -->


<!-- 
@for(item of items; track $index; let i = $index){
  <p>{{item}}</p>
  <button (click)=" removeItem(i)">Delete</button>
} -->


<!-- @for(num of numbers; track num){
  @if(num % 2 === 0){
    <p>{{num}} is Even</p>
  }
  @else{
    <p>{{num}} is odd</p>
  }
} -->

<!--  index 

@for(item of items; track $index){
  <p>{{$index+1}} -> {{item}}</p>
} -->

<!-- count 

@for(item of items; track $index){
  <P>{{$index}} -> {{item}}</P>
  <p>Total Count :{{$count}}</p>
} -->


<!-- first item

@for(item of items;track $index){
   @if($first){
    <p>First Item: {{item}} </p>
   }@else{
    <p>{{item}}</p>
   }
} -->

<!-- last item
@for(item of items;track $index){
   @if($last){
    <p>Last Item: {{item}} </p>
   }@else{
    <p>{{item}}</p>
   }
} -->

<!-- 
@for (item of items; track $index) {
  <p [style.background]="$odd ? 'red' : 'yellow'">
    {{ item }}
  </p>
} -->


<!-- @for(item of numbers; track $index){
  <div>
    <strong>{{item}}</strong>
    <span> | index :{{$index}}</span>
     <span> | Even :{{$index}}</span>
      <span> | odd :{{$index}}</span>
       <span> | Last :{{$index}}</span>
       <span> | count: {{$count}}</span>
  </div>
} -->

<!-- 
<h2>Signal</h2>
 <p>Value: {{val}}</p> 

<p>Count: {{count()}}</p>
<button  (click)="increment()">+</button>
<button  (click)="decrement()">-</button>
<button (click)="reset()">reset</button>


<button (click)="count.set(50)">Change Signal</button>  -->


<!-- 
<h1>{{count()}}</h1>
<h2>{{user().name}},{{user().age}}</h2>


<h3>Numbers: {{number()}}</h3>
<button (click)="directUpdate()">DirectUpdate</button>

<button (click)="addNumber()">Add Number</button>  -->


<!-- <h1>{{count()}}</h1>
<h2>{{doubleCount()}}</h2>
<h3>{{tripleCount()}}</h3>

<button  (click)="increment()">Increment</button> -->

<!-- <h1>{{fullName()}}</h1> -->

<!-- <h1>{{total()}}</h1> -->
<!-- 
<h1>Increment</h1>
<button (click)="increment()">increment</button> -->

<!-- <h1>Toggle Button</h1>
<button (click)="toggle()">Toggle</button> -->

<!-- 
<button (click)="showMessage()">Save</button>

@if(message()){
  <p>{{message()}}</p>
} -->


<!-- <h1>{{lName | uppercase}}</h1>
<h1>{{uName  | lowercase }} </h1>

<p>Short Date: {{today  | date:'short'}}</p>
<p>Full Date: {{today | date: 'fullDate'}}</p>

<p>INR: {{amount | currency: 'INR'}}</p>
 -->

<!-- <h1>{{count()}}</h1>
<h1>{{name()}}</h1>

<button (click)="setCount()">Set Count</button> -->

<!-- <h1>{{count()}}</h1>
<button (click)="increment()" >Increment</button> -->

<!-- <input [(ngModel)]="username" placeholder="Enter your name"/>

<p>{{username}}</p> -->
<!-- 
<input [value]="name()" (input)="name.set($event.target.value)">

<p>{{name()}}</p> -->

<!-- 
<input [value]="user().name" (input)="updateName($event.target.value) "placeholder="name">
<br><br>
<p>Update Name: {{user().name}}</p>

<hr>

<p>Update Age: {{user().age}}</p>
<button (click)="updateAge()">Increase Age</button> -->

<!-- Todo 
<h2>Todo App</h2>
<input placeholder="Write Something..."
[value]="newTodo()"
(input)="newTodo.set($event.target.value)">

<button (click)="addTodo()">Add</button>
<hr>
<ul>
  @for(todo of todos(); track $index){
         <li>
          <span>{{$index +1}}</span>

          <span (click)="toggleTodo($index)" [style.text-decoration]="todo.done ? 'line-through' :'none'">{{todo.text}}</span>
          
          <button (click)="editTodo($index)">Edit</button>
          <button (click)="deleteTodo($index)">Delete</button>

         </li>
  }
</ul> -->


<!-- 
<h1>{{count()}}</h1>

@if (isLoggedIn()){
  <p>Welcome Abhishekh</p>

}
@else{
  <p>Welcome User</p>
}

<button (click)="isLoggedIn.set(true)">Login</button>
<button (click)="isLoggedIn.set(false)">Logout</button>

 <ul>
  @for(item of items(); track $index){
   <li>{{ item }}</li>
  }
 </ul>
<button (click)="addItem()">Add Item</button> -->

<!-- 
<h1>User Dashboard</h1>
<button (click)="makeUser()">User</button>
<button (click)="makeAdmin()">Admin</button>

@if(role() === 'admin'){
  <p>Welcome Admin</p>
}@else{
  <p>Normal user</p>
}

<h3>Available Features</h3>

<ul>
  @for(feature of features(); track $index){
     <li>{{ feature}}</li>
  }
</ul>
 -->

<!-- <h2>Template-Driven Form + Signal</h2>

<input
  [ngModel]="name()"
  (ngModelChange)="name.set($event)"
  placeholder="Enter your name"
/>

<br /><br />

<input
  [ngModel]="email()"
  (ngModelChange)="email.set($event)"
  placeholder="Enter your email"
/>

<br /><br />

<button (click)="submitForm()">Submit</button>

<P>Name: {{name()}}</P>
<P>Email: {{email()}}</P> -->


<!-- 
<h2>Signal Reactive Form</h2>
<form [formGroup]="form">
  <input formControlName="name" placeholder="Name">
  <br><br>
  <input fromControlName="email" placeholder="Email">
  <br><br>

</form>


  <button (click)="submitForm()">Submit</button>

 

  <p>Signal Value:</p>
  <pre>{{userSignal() | json}}</pre> -->



  <!-- <app-card>
    [title]="'Angular Course'"
    [description]= "'Learn Angular step step by step'">

    <p>This is Coming From Parent</p>
    <button>Click me </button>
  </app-card> -->


<!-- <app-button
  [label]="'Save'"
  (clicked)="onSave($event)">
</app-button>

<p>{{message}}</p> -->

<!-- <app-form-field
  label="Email"
  value="test@gmail.com"
  type="email">
</app-form-field> -->


<!-- <h1>My App</h1>
<router-outlet></router-outlet>
<nav>
  <a routerLink="/home">Home</a><br>
  <a routerLink="/about">About</a><br>
  <a routerLink="/contact">Contact</a>
</nav>

<hr>
 -->


 <!-- <app-header-component></app-header-component>
 

 <div class="container">
    <router-outlet></router-outlet>

 </div> -->

<a routerLink="/product/101">product 101</a>  |
<a routerLink="/product/202">product 202</a>
<a [routerLink]="['/products']" [queryParams]="{ category: 'mobile', sort:'price' }">All Products</a>
<router-outlet></router-outlet>


