/* .hover-box {
  width: 100px;
  color: brown;
  background-color: aquamarine;
  text-align: center;
  line-height: 100px;
  margin-top: 20px;
}
 */

/* h1{
  
  text-align: center;
  margin-top: 40px;
}
.count{
  font-size: 48px;
  text-align: center;
  margin:20px 0;
}
.btns{
  display: flex;
  gap:10px;
  justify-content: center;
}
.reset{
  background-color: rgb(0, 50, 92);
}
button{
 padding: 10px 18px;
 background-color: red;
 color:white;
 border-radius:6px;
 cursor: pointer;
 } */


 /* .hero-box{
  padding: 10px;
  background-color: gold;
  border-radius: 8px;
   
 } */

/* Todo css
 input{
  padding: 6px;
  width:200px;

 }
 button{
  padding: 6px 12px;
  margin-left: 5px;
  cursor: pointer;
 }
 li{
  margin-top: 8px;
  list-style: none;
  font-size: 18px;
 }

 li button{
  background-color: rgb(211, 75, 12);
  padding: 6px 10px;
  border-radius: 4PX;
  font-size: 14PX;

  
 }

 h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  color: rgb(93, 93, 170);

 }

 ul{
  padding: 0;
  margin-top: 20px;
 }

 li{
  list-style: none;
  background-color: rgb(152, 219, 228);
  margin-bottom: 10px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  
 } */


 .container{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  padding: 10px;

 }
 .preview-box{
  margin: 20px auto;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  color: wheat;
  font-size: 18px;
  justify-content: center;
  align-items: center;


 }

 .hex-code{
  margin-top: 15px 0;
  font-size: 19px;

 }
 .color{
  font-size: 20px;
  text-shadow: 10px;
  text-transform: uppercase;
 } 